body {
background-color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
font-weight: 200;
color: black;
}

.cvcustom {
display: flex;
flex-direction: row;
}

.spec1{
list-style-type: none;
background-color: black;
display: flex;
flex-wrap: nowrap;
justify-content:space-between;
align-items: right;
}
    
.home {
background-color: white;
align-self: flex-end
}

.pers1 {
color: white; /*perque no es posa white la lletra??*/
}
    
.pers2 { /*perque no es posa white la lletra??*/
color: white;
}

.pers3 { /*perque no es posa white la lletra??*/
color: white;
}

    
h1, h2, h3{ 
width: 100%; 
text-align: center;
padding: 15px;
}
    
    
    
.newstyle1 {
vertical-align: auto;
list-style-type: none;
margin:0;
padding:0;
border:1px;
height: 100px;
background-color: white;
flex-direction: row;
justify-content: space-around;
display:flex
}
    
.newstyle11, .newstyle12, .newstyle13, .newstyle14 { /*no es posa bé amb align-center*/
vertical-align:center;  
justify-self: right;
}  
   
    
.flex-container {
list-style-type: none;
display: flex;
background-color: gray;
width: 100%;
height: 220px;
line-height: normal;
}

.flex-child {
list-style-type: none;
margin: auto;
width: 20%;
size
}  

.flex-child:first-child {
list-style-type: none;
width: 80%;
margin: 10%;
} 

h2{
background-color: grey;
margin-bottom: 0%;
}

.idiomesconf {
justify-content: center;
background-color: white;
width: 100%; 
}

table, tr, th, td {
border: 1px solid;
align-content: center;
justify-content: center;
margin: auto;
}

td{
height: 50px;
width: 70px;
text-align: center
}

.newstyle3 {
list-style-type: none;
flex-direction: column;
margin: 1px;
margin-top: 10%;
padding: 1px;
border:1px;
height: 250px;
width: 100%;
background-color: grey;
display:flex    
}
    
footer {
width: 100%;
background-color: black;
text-align: center;
}
    
    